# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np

baltimore_data= pd.read_csv("baltimore.csv")
boston_data= pd.read_csv("boston.csv")
new_york_data= pd.read_csv("new-york.csv")
philadelphia_data= pd.read_csv("philadelphia.csv")

In [2]:
baltimore_data.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [3]:
boston_data.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [4]:
new_york_data.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [5]:
philadelphia_data.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [6]:
# Combine the four dataframes into one!
combined_data = pd.concat([baltimore_data, boston_data, new_york_data, philadelphia_data])
combined_data.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [7]:
combined_data.tail()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
52,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,11/05/2016,16,18.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
53,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,08/26/2017,18,20.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
54,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/16/2017,16,16.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
55,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/23/2017,15,16.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
56,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/30/2017,15,18.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN

In [8]:
combined_data.shape

(674, 25)

In [9]:
# Clean your data here!
combined_data.isnull().sum()

Commodity Name       0
City Name            0
Type               674
Package              0
Variety              2
Sub Variety        591
Grade              674
Date                 0
Low Price            0
High Price           0
Mostly Low           0
Mostly High          0
Origin               5
Origin District    593
Item Size           49
Color              318
Environment        674
Unit of Sale       568
Quality            674
Condition          674
Appearance         674
Storage            674
Crop               674
Repack               0
Trans Mode         674
dtype: int64

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [10]:
for col in combined_data.columns:
    pct_missing = np.mean(combined_data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 88%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 1%
Origin District - 88%
Item Size - 7%
Color - 47%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [11]:
#Remove columns that have 100% missing values
cleaned_data = combined_data.drop(['Type', 'Grade', 'Environment', 'Quality', 'Condition', 'Appearance', 'Storage', 'Crop', 'Trans Mode'], axis=1)
cleaned_data.head()

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,med,NaN,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,med,NaN,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,lge,NaN,NaN,N

In [12]:
#look for any columns that have all the same value
for col in cleaned_data.columns:
    print(f"{col} : unique items: {len(cleaned_data[col].unique())}")

Commodity Name : unique items: 1
City Name : unique items: 4
Package : unique items: 8
Variety : unique items: 11
Sub Variety : unique items: 3
Date : unique items: 25
Low Price : unique items: 39
High Price : unique items: 42
Mostly Low : unique items: 46
Mostly High : unique items: 48
Origin : unique items: 15
Origin District : unique items: 5
Item Size : unique items: 8
Color : unique items: 3
Unit of Sale : unique items: 4
Repack : unique items: 2

In [13]:
cleaned_data.shape

(674, 16)

In [16]:
#Drop columns that have only one unique value
cleaned_data = cleaned_data.drop(['Commodity Name'], axis=1)
cleaned_data.head()

,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
1,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
2,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,med,NaN,NaN,N
3,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,med,NaN,NaN,N
4,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,lge,NaN,NaN,N

In [22]:
#Remove other columns that are not relevant
#Mostly Low: This column is not measured for pumpkins
#Mostly High: This column is not measured for pumpkins
cleaned_data = cleaned_data.drop(['Mostly Low', 'Mostly High'], axis=1)
cleaned_data.head()

,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,NaN,NaN,lge,NaN,NaN,E
1,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,NaN,NaN,lge,NaN,NaN,E
2,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,DELAWARE,NaN,med,NaN,NaN,N
3,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,VIRGINIA,NaN,med,NaN,NaN,N
4,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,MARYLAND,NaN,lge,NaN,NaN,N

In [18]:
cleaned_data['Origin District'].unique()

array([nan, 'QUEBEC', 'ONTARIO', 'ORANGE COUNTY NEW YORK',
       'WESTERN SECTION'], dtype=object)

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [32]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
Unit_of_Sale = cleaned_data.groupby(['Unit of Sale'])
Unit_of_Sale.first()

,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,Origin District,Item Size,Color,Repack
Unit of Sale,,,,,,,,,,,,
EACH,BALTIMORE,24 inch bins,BIG MACK TYPE,None,09/24/2016,50,60.0,MARYLAND,None,jbo,WHITE,N
PER BIN,BOSTON,36 inch bins,HOWDEN TYPE,None,09/23/2017,200,225.0,MASSACHUSETTS,WESTERN SECTION,jbo,ORANGE,N
SHELLACKED,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/24/2016,17,18.0,OHIO,None,None,None,N

In [34]:
mean_agg = Unit_of_Sale[['Low Price', 'High Price']].mean()
print(mean_agg)

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [37]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
Variety_per_market = cleaned_data.groupby(['City Name', 'Variety'])
Variety_per_market.first()

                                                    Package Sub Variety  \
City Name    Variety
BALTIMORE    BIG MACK TYPE                     24 inch bins        None
             CINDERELLA                        24 inch bins        None
             FAIRYTALE                         24 inch bins        None
             HOWDEN TYPE                       24 inch bins        None
             HOWDEN WHITE TYPE                 24 inch bins        None
             MINIATURE                   1/2 bushel cartons   FLAT TYPE
             MIXED HEIRLOOM VARIETIES          24 inch bins        None
             PIE TYPE                  1 1/9 bushel cartons        None
BOSTON       BIG MACK TYPE                     24 inch bins        None
             BLUE TYPE                         24 inch bins        None
             CINDERELLA                        24 inch bins        None
             FAIRYTALE                   1/2 bushel cartons        None
             HOWDEN TYPE                       36 inch bins        None
             KNUCKLE HEAD                      24 inch bins        None
             MINIATURE                   1/2 bushel cartons   FLAT TYPE
             PIE TYPE                   1 1/9 bushel crates        None
NEW YORK     BIG MACK TYPE                             each        None
             HOWDEN TYPE                       36 inch bins        None
             KNUCKLE HEAD                      36 inch bins        None
             MINIATURE                   1/2 bushel cartons   FLAT TYPE
             MIXED HEIRLOOM VARIETIES          24 inch bins        None
             PIE TYPE                  1 1/9 bushel cartons        None
PHILADELPHIA HOWDEN TYPE                       24 inch bins        None
             KNUCKLE HEAD                      24 inch bins        None
             MINIATURE                   1/2 bushel cartons   FLAT TYPE
             PIE TYPE                  1 1/9 bushel cartons        None

                                             Date  Low Price  High Price  \
City Name    Variety
BALTIMORE    BIG MACK TYPE             09/24/2016         50        60.0
             CINDERELLA                06/03/2017        380       380.0
             FAIRYTALE                 09/24/2016        250       260.0
             HOWDEN TYPE               09/24/2016        160       160.0
             HOWDEN WHITE TYPE         09/23/2017        160       180.0
             MINIATURE                 09/24/2016         18        18.0
             MIXED HEIRLOOM VARIETIES  09/16/2017        160       240.0
             PIE TYPE                  09/24/2016         15        15.0
BOSTON       BIG MACK TYPE             09/24/2016        260       285.0
             BLUE TYPE                 09/24/2016        260       285.0
             CINDERELLA                09/24/2016        260       285.0
             FAIRYTALE                 09/24/2016         15        16.0
             HOWDEN TYPE               09/24/2016        160       200.0
             KNUCKLE HEAD              09/24/2016        260       285.0
             MINIATURE                 09/24/2016         15        18.0
             PIE TYPE                  09/24/2016         15        16.0
NEW YORK     BIG MACK TYPE             09/24/2016         75        80.0
             HOWDEN TYPE               09/24/2016        150       170.0
             KNUCKLE HEAD              10/08/2016        120       140.0
             MINIATURE                 09/24/2016         15        18.0
             MIXED HEIRLOOM VARIETIES  10/08/2016        200       200.0
             PIE TYPE                  09/24/2016         16        18.0
PHILADELPHIA HOWDEN TYPE               09/16/2017        140       150.0
             KNUCKLE HEAD              10/08/2016        210       210.0
             MINIATURE                 09/24/2016         17        18.0
             PIE TYPE                  10/15/2016         12        14.0

                                              Origin         Origin District  \
City Name    Variety
BALTIMORE    BIG MACK TYPE                  MARYLAND                    None
             CINDERELLA                       MEXICO                    None
             FAIRYTALE                      MARYLAND                    None
             HOWDEN TYPE                    DELAWARE                    None
             HOWDEN WHITE TYPE              MARYLAND                    None
             MINIATURE                      MARYLAND                    None
             MIXED HEIRLOOM VARIETIES       MARYLAND                    None
             PIE TYPE                       DELAWARE                    None
BOSTON       BIG MACK TYPE             MASSACHUSETTS                    None
             BLUE TYPE                 MASSACHUSETTS                    None
             CINDERELLA                MASSACHUSETTS                    None
             FAIRYTALE                 MASSACHUSETTS                    None
             HOWDEN TYPE                      CANADA                  QUEBEC
             KNUCKLE HEAD              MASSACHUSETTS                    None
             MINIATURE                 MASSACHUSETTS                    None
             PIE TYPE                  MASSACHUSETTS                 ONTARIO
NEW YORK     BIG MACK TYPE                NEW JERSEY                    None
             HOWDEN TYPE                    MICHIGAN  ORANGE COUNTY NEW YORK
             KNUCKLE HEAD               PENNSYLVANIA                    None
             MINIATURE                          OHIO         WESTERN SECTION
             MIXED HEIRLOOM VARIETIES       MICHIGAN                    None
             PIE TYPE                           OHIO  ORANGE COUNTY NEW YORK
PHILADELPHIA HOWDEN TYPE                PENNSYLVANIA                    None
             KNUCKLE HEAD                 NEW JERSEY                    None
             MINIATURE                          OHIO                    None
             PIE TYPE                           OHIO                    None

                                      Item Size   Color Unit of Sale Repack
City Name    Variety
BALTIMORE    BIG MACK TYPE                  jbo   WHITE         EACH      N
             CINDERELLA                    xlge    None         None      E
             FAIRYTALE                     xlge    None         None      N
             HOWDEN TYPE                    med  ORANGE         None      N
             HOWDEN WHITE TYPE              med    None         None      N
             MINIATURE                      sml   WHITE         None      N
             MIXED HEIRLOOM VARIETIES      None    None         None      N
             PIE TYPE                       med  ORANGE         None      N
BOSTON       BIG MACK TYPE                 xlge  ORANGE      PER BIN      N
             BLUE TYPE                     xlge  ORANGE         None      N
             CINDERELLA                    xlge  ORANGE         None      N
             FAIRYTALE                      sml  ORANGE         None      N
             HOWDEN TYPE                  exjbo  ORANGE      PER BIN      N
             KNUCKLE HEAD                  xlge  ORANGE         None      N
             MINIATURE                      sml   WHITE         None      N
             PIE TYPE                       sml  ORANGE      PER BIN      N
NEW YORK     BIG MACK TYPE                exjbo    None         None      N
             HOWDEN TYPE                   xlge    None      PER BIN      N
             KNUCKLE HEAD                  xlge    None         None      N
             MINIATURE                      sml   WHITE         None      N
             MIXED HEIRLOOM VARIETIES      None    None         None      N
             PIE TYPE                       med  ORANGE      PER BIN      N
PHILADELPHIA HOWDEN TYPE                    lge    None         None      N
             KNUCKLE HEAD                   med    None         None      N
             MINIATURE                     None    None   SHELLACKED      N
             PIE TYPE                       med    None         None      N

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [ ]:
# Try the bonus mission if you have time!